<div class="container">
  <div class="section" style="padding-top:10vw">

      <!--   Icon Section   -->
      <div class="center row">
        <div class="col s4 offset-s4 red lighten-5"  style="padding-bottom:30px">
          <div class="icon-block">
            <h1 class="light-blue-text"><i class="material-icons">group</i></h1>
            <h1 style="font-weight:100">GiftPrompt</h1>
            <a class="center waves-effect waves-light btn-large" href="#/main"><i class="material-icons left">group</i>FB Login</a>
            </br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>